<nav class="navbar navbar-expand navbar-dark primary-color-blue-background pt-2" > <!--ngIf user exists, show this -->
  <div class="navbar-nav"> <!--^^^https://jasonwatmore.com/post/2019/05/17/angular-7-tutorial-part-4-login-form-authentication-service-route-guard#add-logout -->
    <a class="navbar-brand mr-3 pr-3" href="#">ExpenseManager</a>
    <a class="nav-item nav-link pr-4" routerLink="/">Home</a>
    <a class="nav-item nav-link pr-4" >Add a Transaction</a>
    <a class="nav-item nav-link pr-4" >Activity</a>
    <a class="nav-item nav-link" >Friends</a>
    <a class="nav-item nav-link right-align mr-4" >Account</a>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="card-footer font-small blue mt-5">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> expensemanager.com</a>
  </div>
  <!-- Copyright -->
</footer>


