<body>
  <div id="forgotPassword">
    <img class="center-image image-hover" routerLink="/" src="assets/images/LoginIcon.png" alt="Expense Manager Logo">
    <div class="container p-5 forgot-password-border rounded shadow-lg">
      <h4 class="font-weight-bold text-center">Forgot your password?</h4>
      <div id="forgot-password-row" class="row align-items-center p-3">
        <div id="forgot-password-column" class="col-sm-12">
          <div id="forgot-password-box">
            <form id="forgot-password-form" class="form was-validated" method="post" action="">
              <div class="form-group">
                <label for="email" class="secondary-color-yellow-text text-sm-left">Enter your email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid email.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col text-center">
                <button type="submit" class="btn primary-color-blue-background text-white col-sm-10">Submit</button>
              </div>
            </form>
            <div class="col text-center small mt-1">
              <p>Already have an account?  <a routerLink="/" class="text-info">Login here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
