.btn:hover{
  color: #212529;
  background-color: #52bebe;
  border-color: #8ad3d3;
}

.forgot-password-border{
  margin-top: 2%;
  max-width: 35%;
  height: 100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

.image-hover:hover{
  cursor: pointer;
}
